---

layout: default
title: Jonathan D. Fitzgerald | Digital Human(ist) - Home
weight: 1
type: page

---

{% if page.title == "Jonathan D. Fitzgerald | Digital Human(ist) - Home" %}
<div class="home-feature">
	<div class="bracket" id="left-bracket">{</div>
	<div class="bracket" id="right-bracket">}</div>
	<div id="home-text">
		<h3><a href="/about/">Hello there...</a></h3>

		<p>I'm Fitz. I'm an Assistant Professor of Humanities at Regis College, teaching, researching, and writing about literary journalism, 19th century American literature &amp; culture, DH, moral philosophy, and religion. I'm also a collaborator on the <a href="http://www.viraltexts.org">Viral Texts Project</a> and a freelance writer. This site is home to a <a href="/blog/">blog</a>, links to some of my <a href="/writing/">publications</a> and <a href="/digital/">digital projects</a>, and my <a href="/cv/">CV</a>. Thanks for stopping by. <a href="/about/">Read more...</a></p>
	</div>

</div>
{% endif %}

<div class="home">
<h2>Recent Blog Posts</h2>

	<ul class="post-list">

		{% for post in site.posts limit: 3 %}

		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2> {{ post.excerpt }}
		</li>
		{% endfor %}
	</ul>


	<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

</div>
