<div id="sidebar">
	<h3>Upcoming Talks, Conferences, and Workshops</h3>
	<ul class="post-list">
		<li>
			<b>January 2019:</b> MLA 2019 (Chicago, IL)
		</li>
	</ul>
	<div id="twitter-widget">
		<h3>Twitter</h3>
		<a class="twitter-timeline" href="https://twitter.com/jon_fitzgerald" data-widget-id="663212251470503936">Tweets by @jon_fitzgerald</a>
		<script>
			! function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + "://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");
		</script>
	</div>
	<h3>Recent Posts</h3>
	<ul class="post-list">
		{% for post in site.posts limit: 5 %}

		<li>

			<a class="sidebar-link" href="{{ post.url }}">{{ post.title }}</a>
			<br /><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		</li>
		{% endfor %}
	</ul>

</div>
