<div class="sidebar">
	<h3>Recent Publications</h3>
	<ul class="post-list">
		{% for post in site.categories.Writing limit: 5 %}

		<li>

			<a class="sidebar-link" href="{{ post.url }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		</li>
		{% endfor %}
	</ul>
	
	
		<h3>Recent Posts</h3>
	<ul class="post-list">
		{% for post in site.categories.Blog limit: 5 %}

		<li>

			<a class="sidebar-link" href="{{ post.url }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		</li>
		{% endfor %}
	</ul>

</div>